<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rock Paper Scissors Game</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link>
</head>
<body>

  <div class="container text-center mt-5">
    <h1 class="head">Welcome to Rock Paper Scissors</h1>
    <form method="post" action="/">
      {% csrf_token %}   
    <p class="entry1">Please enter your name:</p>
    <input type="text" name="name" id="playerName" class="form-control mb-3" placeholder="Your Name" required>
    <p class="entry2">Enter the number of rounds:</p>
    <input type="number" name="rounds" id="rounds" class="form-control mb-3" placeholder="Number of Rounds" required type="number">
    <button class="btn btn-primary" id="startButton">Start Game</button>
  </form>
  </div>

</body>
</html>
