<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'page3.css' %}">
	<title> 3rd Page</title>
</head>
<body>
	<h1>ROCK PAPER SCISSORS </h1>

	<div class ='opn'>
		<h1>AI</h1>
		<img class="img"src="C:\Users\pankaj kumar jain\Desktop\new web dev\paper.jpeg"><br>

		<h2>YOURS</h2>
		<img class="img2"src="C:\Users\pankaj kumar jain\Downloads\stone.png"><br>

		WINS: <input class="win" type="number" name="Wins"><br>

		<button class="btn">Play Again</button>

		<button class="btn2">New Game</button>



</body>
</html>