
body {
    background-image: url("rps.jpg");
    background-color: #f8f9fa;
    color: #333;
    background-size: 100% 100%;

  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .head{
    color: white;
    align-items: center;
    top: 100px;
  }

  .entry1{

    color: whitesmoke;

  }

  .entry2{

    color: whitesmoke;
  }







  
  .btn {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
  }
  


  .form-control {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }
  